.register-with-school{
  	background-color: #4d3658;
  	height: 100vh;
  	width: 100vw;
 	display: flex;
  	flex-direction: column;
  	align-items: center;
}

.sign-button {
	position: absolute;
	text-align: center;
	border-radius: 10vh;
	background-color: #7F648F;
	top: 6%;
	right: 5%;
	transform: translateY(-70%);
	height: 6vh;
	min-width: 8vw;
	color: white;
	transition-duration: 0.2s;
	font-weight: 700;
	font-size: 2vh;
}

.enterName {
	background-color: white;
	position: relative;
	font-family: helvetica;
	font-weight: 500;
	color: black;
	border-color: transparent;
	outline-color: transparent;
	outline-width: 0px;
	text-align: center;
	justify-content: center;
	top: -70%;
	border-radius: 10vh;
	font-size: 4vh;
	max-width: 40vw;
}
.enterEmail {
	background-color: white;
	position: relative;
	font-family: helvetica;
	font-weight: 500;
	color: black;
	border-color: transparent;
	outline-color: transparent;
	outline-width: 0px;
	text-align: center;
	justify-content: center;
	top: -40%;
	border-radius: 10vh;
	font-size: 4vh;
	max-width: 40vw;
}

.enterPassword {
	background-color: white;
	position: relative;
	font-family: helvetica;
	font-weight: 500;
	color: black;
	border-color: transparent;
	outline-color: transparent;
	outline-width: 0px;
	text-align: center;
	justify-content: center;
	top: -10%;
	border-radius: 10vh;
	font-size: 4vh;
	max-width: 40vw;
}
.sign-button:hover {
    color: black;
    transition-duration: 0.2s;
}
.poll-logo {
	position: relative;
	top: 7%;
	left: 2%;
	height: 10vh;
	width: auto;
	max-width: 40vw;
	transform: scale(0.7);
}

.p-b-box {
	position: relative;
	top: 20vh;
	height: 50vh;
	width: 50vw;
	border-radius: 4vh;
	border-style: solid;
	border-width: 4px;
	border-top-color: #4f3860;
	border-left-color: #4f3860;
	border-right-color: #493254;
	border-bottom-color: #493254;
	background: #4d3658;
	box-shadow:  41px 41px 82px #412e4b, 
             -41px -41px 82px #593e65;
	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}

.register-text {
	position: relative;
	top: 0%;
	font-weight: 700;
	font-size: 3vh;
	color: #dfcfea;
}

.register-blurb {
	position: relative;
	text-align: center;
	top: -5%;
	padding-left: 3px;
	padding-right: 3px;
	font-weight: 200;
	font-size: 2.7vh;
	color: #dfcfea;
}

::placeholder {
	position: relative;
	color: gray;
	opacity: 50%;
	font-weight: 500;
	font-size: 3vh;
	transform:translate3d(0,-12%,0);
	text-transform: none;
}

.submit-button {
	position: relative;
	justify-content: center;
	text-align: center;
	border-radius: 10vh;
	top: 10%;
	background-color: #7F648F;
	color: #dfcfea;
	transition-duration: 0.2s;
	font-weight: 700;
	font-size: 2vh;
	min-width: 20vw;
}

.school-button:hover {
    color: black;
    transition-duration: 0.2s;
}

.cas-button {
	position: relative;
	justify-content: center;
	text-align: center;
	border-radius: 10vh;
	top: 0%;
	background-color: #7F648F;
	color: #dfcfea;
	transition-duration: 0.2s;
	font-weight: 700;
	font-size: 2vh;
	min-width: 20vw;
}

.poll-buddy-button:hover {
	color: black;
	transition-duration: 0.2s;
}