.foot {
	color: #fff;
	padding: 20px 0;
	font: 12px / 15px 'Open Sans';
	margin: 50px 0 0;
	box-sizing: border-box;
	height: 55px;
	width: 100%;
	opacity: 0.8;
}
.linethru {
	background: #7f648f;
	width: 100%;
	margin: 7px 0;
	height: 1px;
	position: absolute;
}
.foot_text, .logo_links {
	background: #4d3658;
	padding: 0px 40px;
}
.foot_text {
	position: absolute;
	left: 0;
}
.foot a {
	color: #dfcfea;
	text-decoration: none;
	margin: 0 20px 0 0;
}
.logo_links {
	position: absolute;
	right: 0;
	margin: 1px 0;
}
.logo_links img {
	height: 13px;
	width: auto;
}
.logo_links a:last-of-type {
	margin: 0;
}
