.Footer-foot {
  padding: 0 0 20px;
  font: var(--font-size-small) / 1 var(--main-font);
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.Footer-linethru {
  background: var(--base-purple-logo-bg);
  width: 100%;
  margin: calc((var(--font-size-small) - 1px) / 2) 0;
  height: 1px;
  position: absolute;
  z-index: -9;
}
.Footer-foot-links {
  background: var(--dark-purple-main-background);
  padding: 0px 40px;
  display: inline-block;
}
.Footer-foot-links:first-child {
  position: absolute;
  left: 0;
}
.Footer-foot-links:last-child {
  position: absolute;
  right: 0;
}
.Footer-links {
  text-align: center;
  width: 100%;
}
.Footer-foot a {
  color: var(--white-most-text);
  margin: 0 20px 0 0;
  opacity: 0.8;
}
.Footer-foot a:hover {
  opacity: 1;
}
.Footer-foot-links img {
  height: var(--font-size-small);
  width: auto;
}
.Footer-foot div a:last-of-type {
  margin: 0;
}
