.Footer-foot {
  padding: 10px 20px;
  font: var(--font-size-small) / 1 var(--main-font);
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: var(--darkest-purple-header-color);
  margin-top: 50px;
}
.Footer-foot-links {
  display: inline-block;
  padding: 0 10px;
  vertical-align: top;
}
.Footer-foot a, .Footer-foot span:only-child {
  display: inline-block;
  padding: 10px;
}
.Footer-foot a {
  color: var(--white-most-text);
  opacity: 0.8;
}
.Footer-foot a:hover {
  opacity: 1;
}
.Footer-foot-links img {
  height: var(--font-size-small);
  width: auto;
}
.Footer-foot-links:last-child a {
  padding: 8px 10px !important;
}
@media only screen and (min-width: 762px) {
  .Footer-foot-links:last-child {
    position: absolute;
    right: 0;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 420px) {
  .Footer-foot-links span {
    display: block;
  }
}
