.page-classcreation{
  background-color: #4d3658;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  position: absolute;
  width: 100%;
}

.create-class-text{
  position: absolute;
  top: 0;
  font-size: calc(10px + 10vmin);
  color: white;
  font-family: 'Fredoka One', cursive;
}
