.page-classcreation{
	background-color: #4d3658;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
	margin: 100px 0;
	width: 100%;
}
