.placeholder-text{
    background-color: #4d3658;
    color: white;
    font-family: 'Fredoka One',cursive;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 25px;
    line-height: 2rem;
    text-align: center;
}