.top-bar{
    background-color: #25162c;
    padding: 50px;
    padding-right: 200px;

}
.header-text{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
    margin-left: -40px;
}
.logo {
    height: 120px;
    width: 100;
    float: left;
    margin-top: -35px;
    display: inline;
}
.home {
    height: 120px;
    width: 90;
    float: right;
    margin-top: -30px;
}
.main-body {
    background-color: #4d3658;
    // padding-bottom: 1000px;
    font-family: 'Fredoka One', cursive;
    color: white;
    margin-left: -20rem;
    // padding-right: 600px;
    line-height: 3rem;
    font-size: 30px;
} 