.top {
    text-align: center;
    margin-left: -17rem;
    font-size: 40px;

}
.body-words {
    text-align: left;
    margin-left: -3rem;
}
//We should look into incorporating a markdown/google doc onto this page rather than typing directly on the page.
// It's much easier to update and maintain.
.placeholder-text{
    background-color: #4d3658;
    color: white;
    font-family: 'Fredoka One',cursive;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    line-height: 2rem;
    text-align: center;
}
.home {
    height: 120px;
    width: 90;
    float: right;
    margin-top: -30px;
}
.main-body {
    background-color: #4d3658;
    // padding-bottom: 1000px;
    font-family: 'Fredoka One', cursive;
    color: white;
    margin-left: -20rem;
    // padding-right: 600px;
    line-height: 3rem;
    font-size: 30px;
} 