//pollDataView page needs 3 different containers
.pollDataView-graph{
  position: absolute;
  right: 0;
  margin: 0 5vw 0 0;
  height: 70vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pollDataView-questions{
  position: absolute;
  left: 0;
  height: 70vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pollDataView-page{
  min-height: 80vh;
}
