.Homepage-logo {
  max-width: 414px;
  width: calc(100% - 2 * var(--box-margin));
  height: auto;
}
.Homepage-boxes {
  margin: var(--box-margin) 0 0;
}
.Homepage-boxes .box {
  width: calc((70% - var(--box-margin)) / 2);
}
.Homepage-boxes .box:first-child {
  margin-right: var(--box-margin);
}
