.PollViewer-answers ul {
  list-style-type: none;
  padding: 0;
}

.pollview_answers ul li {
  min-height: calc(var(--font-size-large) + 10px);
}

.PollViewer-answers a {
  color: var(--white-most-text);
}

.PollViewer-answers a:hover {
  color: var(--light-purple-logo-text);
  text-decoration: none;
}

.PollViewer-bubble {
  text-align: center;
  border-radius: 999px;
  width: var(--font-size-large);
  height: var(--font-size-large);
  font-size: var(--font-size-large);
  background: var(--base-purple-logo-bg);
  margin-right: 15px;
  padding: 5px;
  float: left;
  margin-top: calc(0px - ((var(--font-size-large) - var(--font-size)) / 2 + 5px));
}
