.Pollview-answers ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Pollview-answers li {
  margin: 10px 0;
}

.Pollview-answers a {
  color: var(--white-most-text);
}

.Pollview-answers a:hover {
  color: var(--light-purple-logo-text);
  text-decoration: none;
}

.Pollviewer-bubble {
  text-align: center;
  vertical-align: middle;
  border-radius: 999px;
  width: var(--font-size-large);
  height: var(--font-size-large);
  font-size: var(--font-size-large);
  background: var(--base-purple-logo-bg);
  margin-right: 15px;
  display: inline-block;
  padding: 5px;
}
