ul {
  text-align: left;
  list-style-type: none;
}

li{
  padding-top: 5px;
  padding-bottom: 5px;
}

.answer{
  margin-top: 10px;
  margin-bottom: 10px;
}

//two answer:hover to change the color of answerBubble and answerText at the same time
.answer:hover .answerBubble{
  color: var(--light-purple-logo-text);
}
.answer:hover .answerText{
  color: var(--light-purple-logo-text);
}

.answerText{
  color: var(--white-most-text);
  font-family: monospace;
  line-height: 26px;
}

.answerBubble {
  text-align: center;
  color: var(--white-most-text);
  font: 32px monospace;
  line-height: 36px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 10px;
  background: var(--darkest-purple-header-color);
  display: inline-block;
}
