.question-number {
    text-align: center;
    margin-left: -17rem;
    font-size: 20px;
    font-weight: lighter;
}
.question {
    text-align: center;
    margin-left: -17rem;
    font-size: 30px;
}
.answers {
    text-align: left;
    margin-left: 3rem;
    list-style-type: upper-alpha;
    line-height: 4rem;
    
}