@media only screen and (min-width: 568px) {
  .Contact .box {
    width: calc(100% - 2 * var(--box-margin));
  }
}

@media only screen and (min-width: 768px) {
  .Contact .box {
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  .Contact .box {
    width: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  .Contact .box {
    width: 50%;
  }
}

.Contact .box:not(:first-child) {
  margin-top: var(--box-margin);
}
