// Main Loading Wheel Class
.Loading-Wheel {
  // Positioning
  position: relative;
  display: inline-block;

  // Size of wheel
  width: 80px;
  height: 80px;

  div {
    // Display
    box-sizing: border-box;
    display: block;
    position: absolute;

    // Sizes
    width: 64px;
    height: 64px;
    margin: 8px;

    // Border Stylign
    border: 8px solid #fff;
    border-radius: 50%;
    border-color: rgb(206, 206, 206) transparent transparent transparent;

    // Spinning Animation
    animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite; // Bezier curve to counter fluctuation
  }

  // Adding delays to make animation more natural 
  div:nth-child(1) {
    animation-delay: -0.45s;
  }

  div:nth-child(2) {
    animation-delay: -0.3s;
  }

  div:nth-child(3) {
    animation-delay: -0.15s;
  }
}

// spin animation
@keyframes spin {
  // 0 to 100% spin
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
