.modal-overlay {
    background: rgba(0, 0, 0, 0.726);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
}

.modal {
    width: 450px;
    max-width: 100%;
    height: 350px;
    max-height: 100%;
    z-index: 1000;
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 1.25rem;
    color: #438AA9;
}

.modal-container {
    width: 90%;
    margin: 0 auto;
    height: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.modal-search {
    margin-bottom: 3rem;
}

.filter-button {
    padding: 1rem 4rem;
    border: none;
    background: #50A1A6;
    color: white;
    border-radius: 3rem;
}

.modal-topbar {
    width: 100%;
    height: 2rem;
    background: var(--darkest-purple-header-color);
    border-radius: 1.25rem 1.25rem 0 0;
}

.modal-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.modal-guts .search-label {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 100;
}

.modal-guts .apply-button {
    border: none;
    background: #50A1A6;
    color: white;
    padding: 1rem 4rem;
    border-radius: 2rem;
    cursor: pointer;
}

#modal-search {
    margin-bottom: 1.5rem;
    text-align: center;
}

.modal-topbar .close-button {
    font-size: 2.5rem;
    width: 2rem;
    height: 2rem;
    border: none;
    background: none;
    border-radius: 0 1.25rem 0 0;
    color: white;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.modal-guts {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.modal-guts .button-container {
    display: flex;
    flex-wrap: wrap;
}