.poll-homepage{
  	background-color: #4D3656;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	margin: 100px auto;
}

::placeholder {
	color: gray;
	opacity: 50%;
	font-weight: 700;
	font-size: 3vh;
	transform:translate3d(0,-25%,0);
	text-transform: none;
}

.enterCode {
	background-color: white;
	font-weight: 700;
	color: black;
	border-color: transparent;
	outline-color: transparent;
	outline-width: 0px;
	text-transform: uppercase;
	text-align: center;
	justify-content: center;
	border-radius: 10vh;
	font-family: monospace;
	font-size: 5vh;
	max-width: 40vw;
	margin: 30px 0 10px;
}

.poll-button {
	justify-content: center;
	text-align: center;
	border-radius: 10vh;
	background-color: #7F648F;
	color: white;
	transition-duration: 0.2s;
	font-weight: 700;
	font-family: monospace;
	font-size: 3vh;
	min-width: 25vw;
}

.poll-button:hover {
    color: black;
    transition-duration: 0.2s;
}