.groups_removable {
  color: var(--light-purple-logo-text);
  font-weight: 900;
  margin-left: 10px;
  text-decoration: none;
  padding: 5px;
  transition: var(--default-transition);
}

.groups_removable:hover {
  color: var(--white-most-text);
  cursor: pointer;
}

.groups_leave_groups_dialog {
  position: absolute;
  top: 300px;
  background-color: var(--dark-purple-main-background);
  font-weight: bold;
  height: 200px;
  width: 350px;
  padding: 20px;
  border-radius: 40px;
}

.groups_leave_group_button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.groups_exit_leave_group {
  background-color: var(--dark-purple-main-background);
}

.groupsButton {
  width: 100%;
}