  
.forgot-homepage{
  	background-color: #4d3658;
  	height: 100vh;
  	width: 100vw;
 	display: flex;
  	flex-direction: column;
  	align-items: center;
}

.header{
	background-color: #25162c;
	height: 12vh;
	width: 100vw;
	top: 0vh;
	display: flex;
}

.sign-button {
	position: absolute;
	text-align: center;
	border-radius: 10vh;
	background-color: #7F648F;
	top: 6%;
	right: 5%;
	transform: translateY(-70%);
	height: 6vh;
	min-width: 8vw;
	color: white;
	transition-duration: 0.2s;
	font-weight: 700;
	font-size: 2vh;
	color: #dfcfea;
}

.sign-button:hover {
    color: black;
    transition-duration: 0.2s;
}

.poll-logo {
	position: relative;
	top: 7%;
	left: 2%;
	height: 10vh;
	width: auto;
	max-width: 40vw;
}

.forgot-box {
	position: relative;
	top: 20vh;
	height: 40vh;
	width: 50vw;
	border-radius: 4vh;
	background: #4d3658;
	box-shadow:  41px 41px 82px #412e4b, 
             -41px -41px 82px #593e65;
	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}

.forgot-text {
	position: relative;
	top: -10%;
	font-weight: 700;
	font-size: 3vh;
	color: #dfcfea;
}

.forgot-blurb {
	position: relative;
	text-align: center;
	top: -20%;
	padding-left: 3px;
	padding-right: 3px;
	font-weight: 200;
	font-size: 2.7vh;
	color: #dfcfea;
}

.enterEmail {
	background-color: white;
	position: relative;
	font-family: helvetica;
	font-weight: 500;
	color: black;
	border-color: transparent;
	outline-color: transparent;
	outline-width: 0px;
	text-align: center;
	justify-content: center;
	top: -100%;
	border-radius: 10vh;
	font-size: 4vh;
	max-width: 40vw;
}

::placeholder {
	position: relative;
	color: gray;
	opacity: 50%;
	font-weight: 500;
	font-size: 3vh;
	transform:translate3d(0,-17%,0);
	text-transform: none;
}

.email-button {
	position: relative;
	justify-content: center;
	text-align: center;
	border-radius: 10vh;
	top: 0%;
	background-color: #7F648F;
	color: #dfcfea;
	transition-duration: 0.2s;
	font-weight: 700;
	font-size: 2vh;
	min-width: 20vw;
}

.email-button:hover {
    color: black;
    transition-duration: 0.2s;
}