.dropdown {
  position: absolute;
  top: 60px;
  right: 10px;
  width: 150px;
  background-color: var(--darkest-purple-header-color);
  border-radius: 8px;
  padding: 1rem;
  overflow: hidden;
}
.dropdown_menu_item {
  font: 700 var(--font-size-small)/1 var(--main-font);
  height: 30px;
  display: flex;
  align-items: center;
}
.dropdown_menu_item:hover {
  text-decoration: none;
}
