.header_bar {
  padding: 20px;
  font: var(--head-font-size) / 1 'Fredoka One';
  text-align: center;
  background: var(--darkest-purple-header-color);
  width: 100%;
  box-sizing: border-box;
  text-transform: capitalize;
  margin: 0 0 50px;
}
.header_bar_logo {
  position: absolute;
  left: 0;
  height: calc(20px + var(--head-font-size));
  width: auto;
  margin: -10px 0 0 40px;
}
