.page-about{
  text-align: center;
  background-color: #f3e1ff;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  color: black;
  overflow: hidden;
}

#header-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 10px;
}

.body{
  font-size: 20px;
  line-height: 30px;
  background-color: #f3e1ff;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.home_button {
  position: absolute;
  top: 25px;
  right: 35px;
  transform: scale(1.5);
}

.settings_button {
  position: absolute;
  top: 25px;
  right: 200px;
  transform: scale(1.5);
}

.about_button {
  position: absolute;
  top: 25px;
  right: 362px;
  transform: scale(1.5);
}

.github_button {
  position: absolute;
  bottom: 0px;
  right: 451px;
}

.rcos_button {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.line_style{
  margin-top: 120px;
  border: 3px solid #AA65CF;
  border-radius: 10px;
}

.header{
  font-size: 40px;
}
.change_password{
  display: flex;
  justify-content: center;
  top: 100px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.change_username{
  display: flex;
  justify-content: center;
  top: 150px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.accessibility_button {
  position: absolute;
  bottom: 0px;
  right: 190px;
}

.top_left_logo {
  position: absolute;
  width: 20%;
  height: auto;
  top: 10px;
  left: 10px;
}