### Example Frontend Environment Variables File
# You'll want to copy-paste this to .env in order for the app to run and work properly.

### Main Site Details

### Backend Connection - Default uses Backend container with Docker-Compose script

# Change if Backend is not found at localhost or on port 7655 or at /api.
REACT_APP_BACKEND_URL=/api
