.errorContainer{
  margin: 5px;
  border-radius: 20px;
  border: 2px solid #e84e43;
  background: #e83225;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

