.errorContainer{
  padding:5px 11px;
  margin: 3px;
  vertical-align:middle;
  background-color: #e83225;
  border-radius: 3.0px;
  border: 2px solid #e84e43;
}

.errorText{
  margin:0;
  padding:0;
}
