.schoolName {
	background-color: white;
	font-family: helvetica;
	font-weight: 500;
	color: black;
	border-color: transparent;
	outline-color: transparent;
	outline-width: 0px;
	text-align: center;
	justify-content: center;
	border-radius: 10vh;
	font-size: 4vh;
	max-width: 40vw;
	margin: 0 0 10px;
}
.box {
	margin: 100px auto;
	height: 50vh;
	width: 50vw;
	border-radius: 4vh;
	border-style: solid;
	border-width: 4px;
	border-top-color: #4f3860;
	border-left-color: #4f3860;
	border-right-color: #493254;
	border-bottom-color: #493254;
	background: #4d3658;
	box-shadow:  41px 41px 82px #412e4b, 
             -41px -41px 82px #593e65;
	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}

.register-text {
	font-weight: 700;
	font-size: 3vh;
	color: #dfcfea;
}

.register-blurb {
	text-align: center;
	font-weight: 200;
	font-size: 2.7vh;
	color: #dfcfea;
}

::placeholder {
	color: gray;
	opacity: 50%;
	font-weight: 500;
	font-size: 3vh;
	transform:translate3d(0,-12%,0);
	text-transform: none;
}

.cas-button {
	justify-content: center;
	text-align: center;
	border-radius: 10vh;
	background-color: #7F648F;
	color: #dfcfea;
	transition-duration: 0.2s;
	font-weight: 700;
	font-size: 2vh;
	min-width: 20vw;
}
.school-button:hover {
	color: black;
	transition-duration: 0.2s;
}

.poll-buddy-button:hover {
	color: black;
	transition-duration: 0.2s;
}
