.instructorView_element{
  margin-top: 10px;
  margin-bottom: 10px;
}

.instructorView_element:hover .instructorView_text{
  color: var(--light-purple-logo-text);
}

.instructorView_element:hover .arrow{
  color: var(--white-most-text);
}

.instructorView_text{
  color: var(--white-most-text);
  font-family: monospace;
  line-height: 26px;
}

.arrow{
  color: var(--dark-purple-main-background);
  border-color: var(--darkest-purple-header-color);
  margin-left: -30px;
  margin-right: 40px;
  transform: scale(3);
  transition: color 0.6s;
}