.page-login{

}
.purple{
  background: #4d3658ff !important;
}
.sign_up{
  width: 425px;
  background: #4d3658ff !important;
}
.Login_btn{
  background: #7f6491ff !important;
  position: absolute;
  height: auto;
  top: 6%;
  right: 10px;

}
.left_logo {
  transform: scale(0.5);
  position: absolute;
  width: 20%;
  left: 0;
  height: auto;
}
.text_boxes{
  color: #dfcfeaff;
  width: 50%;
  display: inline-block;
  padding: 2.8rem;
}
.Login-header{
  border: white;
  background-color: #4d3658ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.Login-Box{
  padding: 5rem;
  background-color: #25162cff;
  text-align: center;
  font-size: calc(10px + 3vmin);
}

