# SecretMap to store the secret reporting database details
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: poll-buddy-reporting-db-secrets-master
  labels:
    app.kubernetes.io/name: influxdb
    app.kubernetes.io/component: reporting-db
    app.kubernetes.io/part-of: poll-buddy
    app: poll-buddy-reporting-db
    environment: production
    dev_instance_type: no-type
    dev_instance_id: no-id
data:
  # pollbuddy
  admin-password: cG9sbGJ1ZGR5
  # pollbuddy
  user-password: cG9sbGJ1ZGR5