.top-bar{
    background-color: #25162c;
    padding: 50px;
}
.middle-text{
    color: white;
    text-align: center;
    font-size: 25px;
}

.main-body {
    background-color: #4d3658;
    padding-bottom: 1000px;
} 
.logo {
    height: 120px;
    width: 90;
}