@media only screen and (min-width: 0px) {
  .AccountInfo-accountInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;

    label {
      text-align: center;
    }
  }

  #AccountInfo-passwordChange {
    padding: 0;
    margin: 10px 0;
    text-decoration: underline;
    cursor: pointer;
    width: 100%;
    text-align: center;

    &:hover {
      text-decoration: none;
    }
  }

  #AccountInfo-saveChanges {
    text-align: center;
  }

  #AccountInfo-changePasswordInputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 0.5px solid #707070;

    label {
      text-align: center;
    }
  }
}

@media only screen and (min-width: 992px) {
  .AccountInfo-accountInputs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 1rem 0;

    label {
      text-align: left;
    }
  }

  .AccountInfo-mdbcol-6 {
    margin: 0 3rem 0 3rem;
    width: 50%;
  }

  #AccountInfo-passwordChange {
    padding: 7px 15px;
    text-decoration: underline;
    cursor: pointer;
    margin: 0;
    text-align: left;
  }

  #AccountInfo-saveChanges {
    width: 100%;
    text-align: center;
  }

  #AccountInfo-logOutEverywhere {
    .logOutBox {
      height: 25px;
      width: 25px;
    }
    .logOutLabel {
      display: inline-block;
    }
  }
}
