.top-bar{
    background-color: #25162c;
    padding: 50px;
    padding-right: 200px;

}
.header-text{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
    margin-left: -40px;
}
.logo {
    height: 120px;
    width: 100;
    float: left;
    margin-top: -35px;
    display: inline;
}
.home {
    height: 120px;
    width: 90;
    float: right;
    margin-top: -30px;
}
.main-body {
    background-color: #4d3658;
    padding-bottom: 1000px;
    font-family: 'Fredoka One', cursive;
    color: white;
    text-align: justify;
    padding-left: 600px;
    font-size: 30px;
} 
input[type=text], select {
    width: 40%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
    color: #25162c;
  }
  input[type=password], select {
    width: 40%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
    color: #25162c;
  }
  input[type=submit] {
    width: 40%;
    background-color: #25162c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;    
    font-family: 'Fredoka One', cursive;
  }
  
  input[type=submit]:hover {
    background-color: #dfcfea;
  }
 
