.main-body {
	font: bold 22px / 26px 'Open Sans';
	color: white;
	margin: 50px auto;
	width: 30vw;
}
.main-body input {
	font: 18px / 22px 'Open Sans';
	width: 100%;
	box-sizing: border-box;
	margin: 10px 0 20px;
	padding: 12px;
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.main-body input::placeholder  {
	font: 18px / 22px 'Open Sans';
}
.main-body input[type=submit] {
	background-color: #25162c;
	width: 100%;
	border: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	font: inherit;
	padding: 15px;
}
.main-body input[type=submit]:hover {
	color: #dfcfea;
}
