.page-my-classes{
  text-align: center;
  background-color: #4d3658;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  color: black;
  overflow: auto;
}

.class-editor{
  margin: auto;
  width: 50%;
  padding: 10px;
}

#header-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 10px;
}

.header{
  color: white;
  font-size: large;
  font-family: 'Fredoka One', cursive;
}

.body_style{
  line-height:15px;
  font-size:7px;
}


.home_button {
  position: absolute;
  top: 25px;
  right: 35px;
  transform: scale(1.5);
}

.settings_button {
  position: absolute;
  top: 25px;
  right: 200px;
  transform: scale(1.5);
}

.about_button {
  position: absolute;
  top: 25px;
  right: 362px;
  transform: scale(1.5);
}

.github_button {
  position: absolute;
  bottom: 0px;
  right: 451px;
}

.rcos_button {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.line_style{
  margin-top: 150px;
  border: 3px solid #AA65CF;
  border-radius: 10px;
}
.buttons{
  display:block;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}
.class1{
  display: flex;
  justify-content: center;
  top: 35px;
}
.class2{
  display: flex;
  justify-content: center;
  top: 95px;
}
.class3{
  display: flex;
  justify-content: center;
  top: 155px;}
.class4{
  display: flex;
  justify-content: center;
  top: 215px;
}
.header{
  font-size: 40px;
}
.accessibility_button {
  position: absolute;
  bottom: 0px;
  right: 190px;
}

.top_left_logo {
  position: absolute;
  width: 8%;
  height: auto;
  top: 10px;
  left: 10px;
}
