.GroupPolls ul {
  list-style-type: none;
  padding: 0;
}

.GroupPolls a {
  color: var(--white-most-text);
}

.GroupPolls a:hover {
  color: var(--light-purple-logo-text);
}

.GroupPolls-arrow {
  opacity: 0;
  margin-right: 40px;
  transform: scale(2);
  transition: var(--default-transition);
}

.GroupPolls a:hover .GroupPolls-arrow {
  color: var(--white-most-text);
  opacity: 1;
}
