.Popup {
  bottom: 300px;
  right: 425px;
  background-color: var(--dark-purple-main-background);
  position: absolute;
  border-radius: 30px;
  padding: 10px;
  height: 150px;
  width: 400px;
}

.Popup-text {
  padding: 10px;
}