.editor-box {
  position: relative;
  //top: 20vh;
  height: 40vh;
  width: 50vw;
  border-radius: 4vh;
  background: #4d3658;
  box-shadow:  41px 41px 82px #412e4b,
  -41px -41px 82px #593e65;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.field-label{
  text-align: left;
  color: white;
  font-size: large;
  font-family: 'Fredoka One', cursive;
}

input[type=text], select {
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Fredoka One', cursive;
  color: #25162c;
}

input[type=submit] {
  width: 40%;
  background-color: #25162c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
  font-family: 'Fredoka One', cursive;
}

input[type=submit]:hover {
  background-color: #dfcfea;
}

.submit-button {
  position: absolute;
  right: 2vh;
  bottom: 2vh;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 10vh;
  padding: 16px;
  background-color: #7F648F !important;
  color: #dfcfea;
  //transition-duration: 0.2s;
  font-weight: 700;
  font-size: 2vh;
  min-width: 20vw;
  overflow: hidden;
}

.submit-button:hover{
  color: white;
  cursor: pointer;
}

//.submit-button:active{
//  background: #AA65CF !important;
//}

.submit-button::after {
  display: none;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);

  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;

  /* Center the ripple */
  top: 50%;
  left: 50%;

  animation: ripple 1s;
  opacity: 0;
}
.submit-button:focus:not(:active)::after {
  display: block;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}
