:root {
  // colors defined in the Style Guide doc
  --darkest-purple-header-color: #25162c;
  --dark-purple-main-background: #4d3658;
  --base-purple-logo-bg: #7f6491;
  --light-purple-logo-text: #dfcfea;
  --dark-gray-near-black: #25292A;
  --white-most-text: #FFFFFF;
  --light-gray: #EEEEEE;
  --gray-placeholder-text: #707070;

  // other colors used
  --box-border-top-left-color: #4f3860;
  --box-border-bottom-right-color: #493254;
  --box-shadow-a: #412e4b;
  --box-shadow-b: #593e65;

  --main-font: 'Baloo 2';
  --font-size: 1.2rem;
  --font-size-large: 1.4rem;
  --font-size-small: 1rem;
  --line-height: 1.2;
  --default-transition: all 0.2s ease-in-out;
}

#wrapper {
  min-height: 100vh;
  position: relative;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: calc(var(--font-size-small) + 70px);
}

.fontSizeLarge {
  font-size: var(--font-size-large);
}

p {
  margin: 10px 0;
}

.button {
  padding: 12px 20px;
  background-color: var(--base-purple-logo-bg);
  color: var(--light-purple-logo-text);
  font-size: var(--font-size-small);
  box-shadow: none;
  text-transform: uppercase;
  margin: 10px 5px;
}

.button, .textBox {
  border-radius: 999px;
  font-weight: bold;
  transition: var(--default-transition);
}

.button:hover {
  color: var(--white-most-text);
  box-shadow: none;
}

.form-group, .textBox {
  width: 100%;
}

.textBox {
  padding: 7px 15px;
  background-color: var(--white-most-text);
  color: var(--darkest-purple-header-color);
  font-size: var(--font-size);
  border: 5px solid transparent;
  outline: none;
  text-align: center;
  margin: 10px 0;
  box-sizing: border-box;
}

input.textBox:focus {
  border-color: var(--base-purple-logo-bg);
}

input.textBox:focus::placeholder {
  opacity: 0;
}

input.textBox::placeholder {
  color: var(--gray-placeholder-text);
  transition: var(--default-transition);
}

.box {
  padding: 30px 50px;
  border-radius: 40px;
  background: var(--darkest-purple-header-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box:only-child {
  max-width: 50%;
}

body {
  margin: 0;
  background: var(--dark-purple-main-background);
  color: var(--white-most-text);
  font-size: var(--font-size);
}

body, .button, .textBox {
  line-height: var(--line-height);
  font-family: var(--main-font);
}

label {
  display: block;
  margin: 10px 20px;
  font-weight: bold;
}

.auto_comp {
  color: var(--darkest-purple-header-color);
  background: white;
  text-align: center;
  cursor: default;
  padding: 1px 0;
}

.auto_comp:hover {
  background: var(--light-purple-logo-text);
}

a {
  color: var(--light-purple-logo-text);
  transition: var(--default-transition);
}

a:hover {
  color: var(--white-most-text);
  text-decoration: underline;
}
