:root {
  // colors defined in the Style Guide doc
  --darkest-purple-header-color: #25162c;
  --dark-purple-main-background: #4d3658;
  --base-purple-logo-bg: #7f6491;
  --light-purple-logo-text: #dfcfea;
  --dark-gray-near-black: #25292A;
  --white-most-text: #FFFFFF;
  --light-gray: #EEEEEE;
  --gray-placeholder-text: #707070;

  // for readonly text box
  --light-gray-readonly-text: #9e9e9e;
  --light-red-readonly-text: #F50057;

  --main-font: 'Baloo 2';
  --font-size-small: 1rem;
  --font-size: 1.2rem;
  --font-size-large: 1.4rem;
  --line-height: 1.2;
  --default-transition: all 0.2s ease-in-out;


  // header + footer heights + margin to make calculating page height easier
  --header-inner-height: 3rem;
  --header-height: calc(var(--header-inner-height) + 20px);
  --footer-height: calc(4 * (var(--font-size-small) + 20px) + 20px);
  --box-margin: 20px;
  --box-padding: 25px;
}

@media only screen and (min-width: 420px) {
  :root {
    --footer-height: calc(2 * (var(--font-size-small) + 20px) + 20px);
  }
}

@media only screen and (min-width: 762px) {
  :root {
    --footer-height: calc(var(--font-size-small) + 20px + 20px);
  }
}

#wrapper {
  min-height: 100vh;
  position: relative;
}

.page {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 2 * var(--box-margin));
}

h1, .fontSizeLarge {
  font-size: var(--font-size-large);
  font-weight: bold;
}

h1 {
  margin: 10px auto;
}

p, ul, ol, h2 {
  margin: 10px 0;
}

.display_none {
  display: none;
}

h2 {
  font-size: calc((var(--font-size-large) + var(--font-size)) / 2);
  font-weight: bold;
}

li:not(:last-child) {
  margin-bottom: 10px;
}

.button {
  padding: 12px 20px;
  background-color: var(--base-purple-logo-bg);
  color: var(--light-purple-logo-text);
  font-size: var(--font-size-small);
  box-shadow: none;
  text-transform: uppercase;
  margin: 10px 5px;
  border: none;
}

.button, .textBox {
  border-radius: var(--font-size);
  font-weight: bold;
  transition: var(--default-transition);
}

.button:hover {
  color: var(--white-most-text);
  box-shadow: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.form-group, .textBox {
  width: 100%;
}

.textBox {
  padding: 7px 15px;
  background-color: var(--white-most-text);
  color: var(--darkest-purple-header-color);
  font-size: var(--font-size);
  border: 5px solid transparent;
  outline: none;
  text-align: center;
  margin: 10px 0;
  box-sizing: border-box;
}

input.textBox:focus, textarea.textBox:focus {
  border-color: var(--base-purple-logo-bg);
}

// for readonly text box
input:read-only.textBox, textarea:read-only.textBox {
  background-color: var(--light-gray-readonly-text);
}
input:read-only.textBox:focus, textarea:read-only.textBox:focus {
  border-color: var(--light-red-readonly-text);
}

input.textBox:focus::placeholder, textarea.textBox:focus::placeholder {
  opacity: 0;
}

input.textBox::placeholder, textarea.textBox::placeholder {
  color: var(--gray-placeholder-text);
  transition: var(--default-transition);
}

input[type=password].textBox {
  font-family: monospace;
  line-height: 1.5;
}

.form-group {
  text-align: center;
}

textarea {
  resize: none;
}

.box {
  padding: calc(var(--box-padding) * 3 / 5) var(--box-padding);
  border-radius: calc(var(--box-padding) * 4 / 5);
  background: var(--darkest-purple-header-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: calc(100% - 2 * var(--box-margin));
}

.box * {
  max-width: 100%;
}

.box-body-text {
  align-items: flex-start;
}

.two-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.two-box:not(:first-child), .box:not(:first-child) {
  margin: var(--box-margin) 0 0;
}

.two-box .box {
  width: calc(100% - 2 * var(--box-margin)) !important;
  max-width: none !important;
}

.two-box-different {
  width: 100% !important;
}

@media only screen and (min-width: 414px) {
  :root {
    --box-margin: 30px;
    --box-padding: 35px;
  }
}

@media only screen and (min-width: 667px) {
  .box {
    width: auto;
    max-width: calc(100% - 2 * var(--box-margin));
  }
  .box:not(:only-child) {
    width: calc(100% - 2 * var(--box-margin));
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --box-margin: 40px;
    --box-padding: 40px;
  }
  .box {
    width: auto;
    max-width: 80%;
  }
  .box:not(:only-child) {
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  .box {
    max-width: 70%;
  }
  .box:not(:only-child) {
    width: 70%;
  }
  .two-box {
    flex-direction: row;
    align-items: stretch;
  }
  .two-box .box {
    width: calc(50% - 3 * var(--box-margin) / 2) !important;
  }
  .two-box .box:not(:first-child) {
    margin: 0 0 0 var(--box-margin);
  }
  .two-box-different .smaller {
    width: calc(30% - 3 * var(--box-margin) / 2) !important;
  }
  .two-box-different .bigger {
    width: calc(70% - 3 * var(--box-margin) / 2) !important;
  }
}

@media only screen and (min-width: 1224px) {
  :root {
    --box-margin: 50px;
    --box-padding: 50px;
  }
  .box {
    max-width: 60%;
  }
  .box:not(:only-child) {
    width: 60%;
  }
  .two-box {
    width: 75%;
  }
}

code {
  font-family: monospace;
}

body {
  margin: 0;
  background: var(--dark-purple-main-background);
  color: var(--white-most-text);
  font-size: var(--font-size);
  overflow-wrap: break-word;
}

body, .button, .textBox {
  line-height: var(--line-height);
  font-family: var(--main-font);
}

label {
  display: block;
  margin: 10px var(--font-size);
  font-weight: bold;
  text-align: left;
}

.auto_comp {
  color: var(--darkest-purple-header-color);
  background: white;
  text-align: center;
  cursor: default;
  padding: 1px 0;
}

.auto_comp:hover {
  background: var(--light-purple-logo-text);
}

a {
  color: var(--light-purple-logo-text);
  transition: var(--default-transition);
  font-style: italic;
}

a:hover {
  color: var(--white-most-text);
  text-decoration: underline;
}

::selection {
  color: var(--darkest-purple-header-color);
  background: var(--light-purple-logo-text);
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}