:root {
  // colors defined in the Style Guide doc
  --darkest-purple-header-color: #25162c;
  --dark-purple-main-background: #4d3658;
  --base-purple-logo-bg: #7f6491;
  --light-purple-logo-text: #dfcfea;
  --dark-gray-near-black: #25292A;
  --white-most-text: #FFFFFF;
  --light-gray: #EEEEEE;
  --gray-placeholder-text: #707070;

  --main-font: 'Baloo 2';
  --font-size: 1.2rem;
  --head-font-size: 1.8rem;
  --font-size-large: 1.4rem;
  --font-size-small: 1rem;
  --line-height: 1.2;
  --default-transition: all 0.2s ease-in-out;


  // header + footer heights + margin to make calculating page height easier
  --header-height: calc(var(--head-font-size) + 40px);
  --footer-height: calc(4 * (var(--font-size-small) + 20px) + 20px);
}

@media only screen and (min-width: 420px) {
  :root {
    --footer-height: calc(2 * (var(--font-size-small) + 20px) + 20px);
  }
}

@media only screen and (min-width: 762px) {
  :root {
    --footer-height: calc(var(--font-size-small) + 20px + 20px);
  }
}

#wrapper {
  min-height: 100vh;
  position: relative;
}

.page {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: calc(50px + var(--footer-height));
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 100px);
}

h1, .fontSizeLarge {
  font-size: var(--font-size-large);
  font-weight: bold;
}

p, ul, ol, h1, h2 {
  margin: 10px 0;
}

.display_none {
  display: none;
}

h2 {
  font-size: calc((var(--font-size-large) + var(--font-size)) / 2);
  font-weight: bold;
}

ul {
  list-style-type: circle;
}

li:not(:last-child) {
  margin-bottom: 10px;
}

.button {
  padding: 12px 20px;
  background-color: var(--base-purple-logo-bg);
  color: var(--light-purple-logo-text);
  font-size: var(--font-size-small);
  box-shadow: none;
  text-transform: uppercase;
  margin: 10px 5px;
}

.button, .textBox {
  border-radius: var(--font-size);
  font-weight: bold;
  transition: var(--default-transition);
}

.button:hover {
  color: var(--white-most-text);
  box-shadow: none;
}

.form-group, .textBox {
  width: 100%;
}

.textBox {
  padding: 7px 15px;
  background-color: var(--white-most-text);
  color: var(--darkest-purple-header-color);
  font-size: var(--font-size);
  border: 5px solid transparent;
  outline: none;
  text-align: center;
  margin: 10px 0;
  box-sizing: border-box;
}

input.textBox:focus, textarea.textBox:focus {
  border-color: var(--base-purple-logo-bg);
}

input.textBox:focus::placeholder, textarea.textBox:focus::placeholder {
  opacity: 0;
}

input.textBox::placeholder, textarea.textBox::placeholder {
  color: var(--gray-placeholder-text);
  transition: var(--default-transition);
}

input[type=password].textBox {
  font-family: monospace;
  line-height: 1.5;
}

.form-group {
  text-align: center;
}

textarea {
  resize: none;
}

.box {
  padding: 30px 50px;
  border-radius: 40px;
  background: var(--darkest-purple-header-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.box:only-child {
  max-width: 50%;
}

.box-body-text {
  align-items: flex-start;
}

.two-box {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

code {
  font-family: monospace;
}

body {
  margin: 0;
  background: var(--dark-purple-main-background);
  color: var(--white-most-text);
  font-size: var(--font-size);
}

body, .button, .textBox {
  line-height: var(--line-height);
  font-family: var(--main-font);
}

label {
  display: block;
  margin: 10px 20px;
  font-weight: bold;
  text-align: left;
}

.auto_comp {
  color: var(--darkest-purple-header-color);
  background: white;
  text-align: center;
  cursor: default;
  padding: 1px 0;
}

.auto_comp:hover {
  background: var(--light-purple-logo-text);
}

a {
  color: var(--light-purple-logo-text);
  transition: var(--default-transition);
}

a:hover {
  color: var(--white-most-text);
  text-decoration: underline;
}

