:root {
  // colors defined in the Style Guide doc
  --darkest-purple-header-color: #25162c;
  --dark-purple-main-background: #4d3658;
  --base-purple-logo-bg: #7f6491;
  --light-purple-logo-text: #dfcfea;
  --dark-gray-near-black: #25292A;
  --white-most-text: #FFFFFF;
  --light-gray: #EEEEEE;
  --gray-placeholder-text: #707070;

  --main-font: 'Baloo 2';
  --font-size: 1.2rem;
  --head-font-size: 1.8rem;
  --font-size-large: 1.4rem;
  --font-size-small: 1rem;
  --line-height: 1.2;
  --default-transition: all 0.2s ease-in-out;
}

#wrapper {
  min-height: 100vh;
  position: relative;
}

.page {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: calc(var(--font-size-small) + 70px);
  min-height: calc(100vh - var(--head-font-size) - var(--font-size-small) - 160px);
}

.fontSizeLarge {
  font-size: var(--font-size-large);
  font-weight: bold;
}

p, ul {
  margin: 10px 0;
}

h1 {
  color: var(--white-most-text);
  font-family: var(--main-font);
}

h2 {
  color: var(--white-most-text);
  font-family: var(--main-font);
}

ul {
  color: var(--white-most-text);
  font-family: var(--main-font);
}

li {
  list-style-type: circle;
}

li:not(:last-child) {
  margin-bottom: 10px;
}

.button {
  padding: 12px 20px;
  background-color: var(--base-purple-logo-bg);
  color: var(--light-purple-logo-text);
  font-size: var(--font-size-small);
  box-shadow: none;
  text-transform: uppercase;
  margin: 10px 5px;
}

.button, .textBox {
  border-radius: 999px;
  font-weight: bold;
  transition: var(--default-transition);
}

.button:hover {
  color: var(--white-most-text);
  box-shadow: none;
}

.form-group, .textBox {
  width: 100%;
}

.textBox {
  padding: 7px 15px;
  background-color: var(--white-most-text);
  color: var(--darkest-purple-header-color);
  font-size: var(--font-size);
  border: 5px solid transparent;
  outline: none;
  text-align: center;
  margin: 10px 0;
  box-sizing: border-box;
}

input.textBox:focus {
  border-color: var(--base-purple-logo-bg);
}

input.textBox:focus::placeholder {
  opacity: 0;
}

input.textBox::placeholder {
  color: var(--gray-placeholder-text);
  transition: var(--default-transition);
}

.box {
  padding: 30px 50px;
  border-radius: 40px;
  background: var(--darkest-purple-header-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.box:only-child {
  max-width: 50%;
}

.box-body-text {
  align-items: flex-start;
}

.two-box {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

code {
  font-family: monospace;
}

body {
  margin: 0;
  background: var(--dark-purple-main-background);
  color: var(--white-most-text);
  font-size: var(--font-size);
}

body, .button, .textBox {
  line-height: var(--line-height);
  font-family: var(--main-font);
}

label {
  display: block;
  margin: 10px 20px;
  font-weight: bold;
}

.auto_comp {
  color: var(--darkest-purple-header-color);
  background: white;
  text-align: center;
  cursor: default;
  padding: 1px 0;
}

.auto_comp:hover {
  background: var(--light-purple-logo-text);
}

a {
  color: var(--light-purple-logo-text);
  transition: var(--default-transition);
}

a:hover {
  color: var(--white-most-text);
  text-decoration: underline;
}

.groups_removable {
  color: var(--light-purple-logo-text);
  font-weight: 900;
  margin-left: 10px;
  text-decoration: none;
  padding: 5px;
  transition: var(--default-transition);
}

.groups_removable:hover {
  color: var(--white-most-text);
  cursor: pointer;
}

.leave_groups_dialog {
  position: absolute;
  background-color: var(--dark-purple-main-background);
  font-weight: bold;
  height: 200px;
  width: 350px;
  padding: 20px;
  border-radius: 40px;
}

.leave_group_button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
